[submodule "solarized-gnome-terminal"]
	path = solarized-gnome-terminal
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = git://github.com/sigurdga/gnome-terminal-colors-solarized.git
